In [ ]:
!pip install duckdb

In [ ]:
!pip install kaggle

In [1]:
import os


# {"username":"vinothnk","key":"418378f21fb977c1f1ff44a5ebc60323"}


os.environ['KAGGLE_USERNAME'] = "vinothnk"
os.environ['KAGGLE_KEY'] = "418378f21fb977c1f1ff44a5ebc60323"

In [2]:
#do not run this if you want to test the entire code. the original file has some column names which cannot be renamed via pandas.

import kaggle 

kaggle.api.dataset_download_files('anshtanwar/global-data-on-sustainable-energy', path='./data', unzip=True)

Dataset URL: https://www.kaggle.com/datasets/anshtanwar/global-data-on-sustainable-energy

In [3]:
import pandas as pd

df1 = pd.read_csv('global-data-on-sustainable-energy (1).csv')

#initial file from kaggle
df1

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,3227.68020,10.00,11020.000460,NaN,0.755869,1464.588957,38,390757.0,-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,3068.01150,9.51,10340.000150,NaN,4.709492,1235.189032,38,390757.0,-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,3441.98580,9.83,12380.000110,NaN,4.824211,1254.642265,38,390757.0,-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,3003.65530,10.47,11760.000230,NaN,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.13180,10.00,NaN,NaN,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857

In [4]:
df1 = df1.rename(columns={col: col.strip("()").replace("/", "") for col in df1.columns})
df1 = df1.rename(columns={col: col.strip("()").replace("(", "") for col in df1.columns})

In [5]:
df1

,Entity,Year,Access to electricity % of population,Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries US $,Renewable energy share in the total final energy consumption %,Electricity from fossil fuels TWh,Electricity from nuclear TWh,Electricity from renewables TWh,...,Primary energy consumption per capita kWhperson,Energy intensity level of primary energy MJ$2017 PPP GDP,Value_co2_emissions_kt_by_country,Renewables % equivalent primary energy,gdp_growth,gdp_per_capita,DensityPKm2,Land AreaKm2,Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,3227.68020,10.00,11020.000460,NaN,0.755869,1464.588957,38,390757.0,-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,3068.01150,9.51,10340.000150,NaN,4.709492,1235.189032,38,390757.0,-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,3441.98580,9.83,12380.000110,NaN,4.824211,1254.642265,38,390757.0,-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,3003.65530,10.47,11760.000230,NaN,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.13180,10.00,NaN,NaN,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857

In [6]:
#drop all duplicate countries and append them to a list
df_countries_list = df1['Entity'].drop_duplicates().to_list()

In [7]:
df_countries_list

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [8]:
#reading the 2nd file for country_code and region
country_code_df = pd.read_csv('country_codes.csv')
country_code_df

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [9]:
#downloaded country code csv file with country name, region and 3 letter code
country_code_df.drop(['alpha-2', 'country-code', 'iso_3166-2', 'sub-region', 'intermediate-region', 
                                       'region-code', 'sub-region-code', 'intermediate-region-code'], axis=1, inplace=True)

In [10]:
country_code_df['name'].values

array(['Afghanistan', 'Åland Islands', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Bouvet Island', 'Brazil',
       'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands',
       'Colombia', 'Comoros', 'Congo',
       'Congo, Democratic Republic of the', 'Cook Islands', 'Costa Rica',
       "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'French Southern Territories', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heard Island and McDonald Islands', 'Holy See', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Democratic People's Republic of", 'Korea, Republic of',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia, Federated States of',
       'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands, Kingdom of the', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Norfolk Island', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine, State of',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Réunion', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Georgia and the South Sandwich Islands', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Svalbard and Jan Mayen', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan',
       'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo',
       'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Türkiye',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United States of America', 'United States Minor Outlying Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, Bolivarian Republic of', 'Viet Nam',
       'Virgin Islands (British)', 'Virgin Islands (U.S.)',
       'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [11]:
#renaming countries to match the origin dataset
country_code_df = country_code_df.replace('United States of America', 'United States')
country_code_df = country_code_df.replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom')
country_code_df = country_code_df.replace('Türkiye', 'Turkey')
country_code_df = country_code_df.replace('Netherlands, Kingdom of the', 'Netherlands')

country_code_df

                  name alpha-3   region
0          Afghanistan     AFG     Asia
1        Åland Islands     ALA   Europe
2              Albania     ALB   Europe
3              Algeria     DZA   Africa
4       American Samoa     ASM  Oceania
..                 ...     ...      ...
244  Wallis and Futuna     WLF  Oceania
245     Western Sahara     ESH   Africa
246              Yemen     YEM     Asia
247             Zambia     ZMB   Africa
248           Zimbabwe     ZWE   Africa

[249 rows x 3 columns]

In [12]:
valid_countries = pd.DataFrame()

# Filter the DataFrame by comparing the country name in our energy dataframe with the list of countries.
# This will keep only the countries which have the data in the energy dataframe.
valid_countries = country_code_df[country_code_df['name'].isin(df_countries_list)]
valid_countries

                    name alpha-3    region
0            Afghanistan     AFG      Asia
2                Albania     ALB    Europe
3                Algeria     DZA    Africa
6                 Angola     AGO    Africa
9    Antigua and Barbuda     ATG  Americas
..                   ...     ...       ...
238           Uzbekistan     UZB      Asia
239              Vanuatu     VUT   Oceania
246                Yemen     YEM      Asia
247               Zambia     ZMB    Africa
248             Zimbabwe     ZWE    Africa

[176 rows x 3 columns]

In [13]:
# adding 2 new columns, country_code and region
df1['country_code'] = ''
df1['region'] = ''
df1['year_id'] = df1.index

In [14]:
# Loop through `df` and update `country_code` and `region`
for index, row in df1.iterrows():
    match = valid_countries[valid_countries['name'] == row['Entity']]

    if not match.empty:
        df1.at[index, 'country_code'] = match['alpha-3'].values[0]
        df1.at[index, 'region'] = match['region'].values[0]

In [16]:
import pandas as pd
import numpy as np

# Assuming df1 is your DataFrame

# Specify the columns you want to leave with NaN values
columns_to_leave = ['Financial flows to developing countries (US $)', 'Renewables (% equivalent primary energy)']
# Group the DataFrame by 'country'
grouped = df1.groupby('Entity')
# Iterate over each column
for column in df1.columns:
    # Exclude the specified columns
    if column not in columns_to_leave:  
        # Check if there are NaNs and if the column is numeric
        if df1[column].isna().any() and df1[column].dtype in [np.float64, np.int64]:
# Fill NaNs with the mean calculated within each group
            df1[column] = grouped[column].transform(lambda x: x.fillna(x.mean()))
            #print(df1[column])

In [17]:
grouped = df1.groupby('Entity')
# Iterate over each column
for column in df1.columns:
    if df1[column].isna().any():
        df1[column] = grouped[column].transform(lambda x: x.fillna(0))

In [18]:
#final check for missing values
df1.isna().sum()

Entity                                                            0
Year                                                              0
Access to electricity % of population                             0
Access to clean fuels for cooking                                 0
Renewable-electricity-generating-capacity-per-capita              0
Financial flows to developing countries US $                      0
Renewable energy share in the total final energy consumption %    0
Electricity from fossil fuels TWh                                 0
Electricity from nuclear TWh                                      0
Electricity from renewables TWh                                   0
Low-carbon electricity % electricity                              0
Primary energy consumption per capita kWhperson                   0
Energy intensity level of primary energy MJ$2017 PPP GDP          0
Value_co2_emissions_kt_by_country                                 0
Renewables % equivalent primary energy                            0
gdp_growth                                                        0
gdp_per_capita                                                    0
DensityPKm2                                                       0
Land AreaKm2                                                      0
Latitude                                                          0
Longitude                                                         0
country_code                                                      0
region                                                            0
year_id                                                           0
dtype: int64

In [19]:
df1.to_csv('all_data_cleaned.csv', index=True)

In [20]:
import pandas as pd

df1 = pd.read_csv('all_data_cleaned.csv')

In [21]:
df1

,Unnamed: 0,Entity,Year,Access to electricity % of population,Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries US $,Renewable energy share in the total final energy consumption %,Electricity from fossil fuels TWh,Electricity from nuclear TWh,...,Renewables % equivalent primary energy,gdp_growth,gdp_per_capita,DensityPKm2,Land AreaKm2,Latitude,Longitude,country_code,region,year_id
0,0,Afghanistan,2000,1.613591,6.2,9.22,2.000000e+04,44.99,0.16,0.0,...,0.0,6.163893,439.055765,60,652230.0,33.939110,67.709953,AFG,Asia,0
1,1,Afghanistan,2001,4.074574,7.2,8.86,1.300000e+05,45.60,0.09,0.0,...,0.0,6.163893,439.055765,60,652230.0,33.939110,67.709953,AFG,Asia,1
2,2,Afghanistan,2002,9.409158,8.2,8.47,3.950000e+06,37.83,0.13,0.0,...,0.0,6.163893,179.426579,60,652230.0,33.939110,67.709953,AFG,Asia,2
3,3,Afghanistan,2003,14.738506,9.5,8.09,2.597000e+07,36.66,0.31,0.0,...,0.0,8.832278,190.683814,60,652230.0,33.939110,67.709953,AFG,Asia,3
4,4,Afghanistan,2004,20.064968,10.9,7.75,3.296947e+07,44.24,0.33,0.0,...,0.0,1.414118,211.382074,60,652230.0,33.939110,67.709953,AFG,Asia,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,3644,Zimbabwe,2016,42.561730,29.8,62.88,3.000000e+04,81.90,3.50,0.0,...,0.0,0.755869,1464.588957,38,390757.0,-19.015438,29.154857,ZWE,Africa,3644
3645,3645,Zimbabwe,2017,44.178635,29.8,62.33,5.570000e+06,82.46,3.05,0.0,...,0.0,4.709492,1235.189032,38,390757.0,-19.015438,29.154857,ZWE,Africa,3645
3646,3646,Zimbabwe,2018,45.572647,29.9,82.53,1.000000e+04,80.23,3.73,0.0,...,0.0,4.824211,1254.642265,38,390757.0,-19.015438,29.154857,ZWE,Africa,3646
3647,3647,Zimbabwe,2019,46.781475,30.1,81.40,2.500000e+05,81.50,3.66,0.0,...,0.0,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857,ZWE,Africa,3647
3648,3648,Zimbabwe,2020,52.747670,30.4,80.61,3.000000e+04,81.90,3.40,0.0,...,0.0,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857,ZWE,Africa,3648

In [22]:
df1 = df1.rename(columns={'Entity':'country_name', 'Year':'year',
                                  'Access to electricity % of population':'access_to_electricity_by_population',
                                  'Access to clean fuels for cooking':'access_to_clean_fuels', 
                                  'Renewable-electricity-generating-capacity-per-capita':'renewable_electricity_generating_capacity_per_capita',
                                  'Financial flows to developing countries US $':'financial_flows_to_developing_countries_usd',
                                  'Renewable energy share in the total final energy consumption %':'renewable_energy_share_percent',
                                  'Electricity from fossil fuels TWh':'electricity_from_fossil_fuels',
                                  'Electricity from nuclear TWh':'electricity_from_nuclear',
                                  'Electricity from renewables TWh':'electricity_from_renewables',
                                  'Low-carbon electricity % electricity':'electricity_from_low_carbon',
                                  'Primary energy consumption per capita kWhperson':'primary_energy_consumption_per_capita',
                                  'Energy intensity level of primary energy MJ$2017 PPP GDP':'energy_intensity_level',
                                  'Value_co2_emissions_kt_by_country':'value_co2_emissions',
                                  'Renewables % equivalent primary energy':'renewables_percent',
                                  'DensityPKm2':'population_density',
                                  'Land AreaKm2':'land_area_km2',
                                  'Latitude':'latitude', 'Longitude':'longitude'})

In [23]:
pd.set_option('display.max_columns', 25)
df1

,Unnamed: 0,country_name,year,access_to_electricity_by_population,access_to_clean_fuels,renewable_electricity_generating_capacity_per_capita,financial_flows_to_developing_countries_usd,renewable_energy_share_percent,electricity_from_fossil_fuels,electricity_from_nuclear,electricity_from_renewables,electricity_from_low_carbon,primary_energy_consumption_per_capita,energy_intensity_level,value_co2_emissions,renewables_percent,gdp_growth,gdp_per_capita,population_density,land_area_km2,latitude,longitude,country_code,region,year_id
0,0,Afghanistan,2000,1.613591,6.2,9.22,2.000000e+04,44.99,0.16,0.0,0.31,65.957440,302.59482,1.64,760.000000,0.0,6.163893,439.055765,60,652230.0,33.939110,67.709953,AFG,Asia,0
1,1,Afghanistan,2001,4.074574,7.2,8.86,1.300000e+05,45.60,0.09,0.0,0.50,84.745766,236.89185,1.74,730.000000,0.0,6.163893,439.055765,60,652230.0,33.939110,67.709953,AFG,Asia,1
2,2,Afghanistan,2002,9.409158,8.2,8.47,3.950000e+06,37.83,0.13,0.0,0.56,81.159424,210.86215,1.40,1029.999971,0.0,6.163893,179.426579,60,652230.0,33.939110,67.709953,AFG,Asia,2
3,3,Afghanistan,2003,14.738506,9.5,8.09,2.597000e+07,36.66,0.31,0.0,0.63,67.021280,229.96822,1.40,1220.000029,0.0,8.832278,190.683814,60,652230.0,33.939110,67.709953,AFG,Asia,3
4,4,Afghanistan,2004,20.064968,10.9,7.75,3.296947e+07,44.24,0.33,0.0,0.56,62.921350,204.23125,1.20,1029.999971,0.0,1.414118,211.382074,60,652230.0,33.939110,67.709953,AFG,Asia,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,3644,Zimbabwe,2016,42.561730,29.8,62.88,3.000000e+04,81.90,3.50,0.0,3.32,48.680350,3227.68020,10.00,11020.000460,0.0,0.755869,1464.588957,38,390757.0,-19.015438,29.154857,ZWE,Africa,3644
3645,3645,Zimbabwe,2017,44.178635,29.8,62.33,5.570000e+06,82.46,3.05,0.0,4.30,58.503407,3068.01150,9.51,10340.000150,0.0,4.709492,1235.189032,38,390757.0,-19.015438,29.154857,ZWE,Africa,3645
3646,3646,Zimbabwe,2018,45.572647,29.9,82.53,1.000000e+04,80.23,3.73,0.0,5.46,59.412407,3441.98580,9.83,12380.000110,0.0,4.824211,1254.642265,38,390757.0,-19.015438,29.154857,ZWE,Africa,3646
3647,3647,Zimbabwe,2019,46.781475,30.1,81.40,2.500000e+05,81.50,3.66,0.0,4.58,55.582527,3003.65530,10.47,11760.000230,0.0,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857,ZWE,Africa,3647
3648,3648,Zimbabwe,2020,52.747670,30.4,80.61,3.000000e+04,81.90,3.40,0.0,4.19,55.204216,2680.13180,10.00,11040.000110,0.0,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857,ZWE,Africa,3648

In [24]:
df1['environmental_id'] = df1.index
df1['energy_id'] = df1.index
df1['economic_id'] = df1.index
df1['country_id'] = df1.index

In [25]:
df1['population_density'] = df1['population_density'].str.replace(',', '').astype(float)

In [26]:
df1

,Unnamed: 0,country_name,year,access_to_electricity_by_population,access_to_clean_fuels,renewable_electricity_generating_capacity_per_capita,financial_flows_to_developing_countries_usd,renewable_energy_share_percent,electricity_from_fossil_fuels,electricity_from_nuclear,electricity_from_renewables,electricity_from_low_carbon,...,gdp_per_capita,population_density,land_area_km2,latitude,longitude,country_code,region,year_id,environmental_id,energy_id,economic_id,country_id
0,0,Afghanistan,2000,1.613591,6.2,9.22,2.000000e+04,44.99,0.16,0.0,0.31,65.957440,...,439.055765,60.0,652230.0,33.939110,67.709953,AFG,Asia,0,0,0,0,0
1,1,Afghanistan,2001,4.074574,7.2,8.86,1.300000e+05,45.60,0.09,0.0,0.50,84.745766,...,439.055765,60.0,652230.0,33.939110,67.709953,AFG,Asia,1,1,1,1,1
2,2,Afghanistan,2002,9.409158,8.2,8.47,3.950000e+06,37.83,0.13,0.0,0.56,81.159424,...,179.426579,60.0,652230.0,33.939110,67.709953,AFG,Asia,2,2,2,2,2
3,3,Afghanistan,2003,14.738506,9.5,8.09,2.597000e+07,36.66,0.31,0.0,0.63,67.021280,...,190.683814,60.0,652230.0,33.939110,67.709953,AFG,Asia,3,3,3,3,3
4,4,Afghanistan,2004,20.064968,10.9,7.75,3.296947e+07,44.24,0.33,0.0,0.56,62.921350,...,211.382074,60.0,652230.0,33.939110,67.709953,AFG,Asia,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,3644,Zimbabwe,2016,42.561730,29.8,62.88,3.000000e+04,81.90,3.50,0.0,3.32,48.680350,...,1464.588957,38.0,390757.0,-19.015438,29.154857,ZWE,Africa,3644,3644,3644,3644,3644
3645,3645,Zimbabwe,2017,44.178635,29.8,62.33,5.570000e+06,82.46,3.05,0.0,4.30,58.503407,...,1235.189032,38.0,390757.0,-19.015438,29.154857,ZWE,Africa,3645,3645,3645,3645,3645
3646,3646,Zimbabwe,2018,45.572647,29.9,82.53,1.000000e+04,80.23,3.73,0.0,5.46,59.412407,...,1254.642265,38.0,390757.0,-19.015438,29.154857,ZWE,Africa,3646,3646,3646,3646,3646
3647,3647,Zimbabwe,2019,46.781475,30.1,81.40,2.500000e+05,81.50,3.66,0.0,4.58,55.582527,...,1316.740657,38.0,390757.0,-19.015438,29.154857,ZWE,Africa,3647,3647,3647,3647,3647
3648,3648,Zimbabwe,2020,52.747670,30.4,80.61,3.000000e+04,81.90,3.40,0.0,4.19,55.204216,...,1214.509820,38.0,390757.0,-19.015438,29.154857,ZWE,Africa,3648,3648,3648,3648,3648

In [27]:
import duckdb
# Note: duckdb.sql connects to the default in-memory database connection

con = duckdb.connect('sustainability_test.duckdb')

In [28]:
con.sql("CREATE TABLE years (year_id INTEGER PRIMARY KEY, year INTEGER)");
con.sql("CREATE TABLE environmental_metrics (environmental_id INTEGER PRIMARY KEY, year_id INTEGER REFERENCES years(year_id))");

In [29]:
con.sql("INSERT INTO years (SELECT year_id, year FROM df1)")

In [30]:
con.sql("SHOW years")

┌─────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│ column_name │ column_type │  null   │   key   │ default │  extra  │
│   varchar   │   varchar   │ varchar │ varchar │ varchar │ varchar │
├─────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ year_id     │ INTEGER     │ NO      │ PRI     │ NULL    │ NULL    │
│ year        │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
└─────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [31]:
con.sql("ALTER TABLE environmental_metrics ADD COLUMN value_co2_emissions FLOAT")
con.sql("ALTER TABLE environmental_metrics ADD COLUMN renewables_percent FLOAT")
con.sql("ALTER TABLE environmental_metrics ADD COLUMN primary_energy_consumption_per_capita FLOAT")
con.sql("ALTER TABLE environmental_metrics ADD COLUMN renewable_energy_share_percent FLOAT")

In [32]:
con.sql("ALTER TABLE environmental_metrics ADD COLUMN country_id INTEGER")

In [33]:
con.sql("SHOW environmental_metrics")

┌───────────────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│              column_name              │ column_type │  null   │   key   │ default │  extra  │
│                varchar                │   varchar   │ varchar │ varchar │ varchar │ varchar │
├───────────────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ environmental_id                      │ INTEGER     │ NO      │ PRI     │ NULL    │ NULL    │
│ year_id                               │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ value_co2_emissions                   │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ renewables_percent                    │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ primary_energy_consumption_per_capita │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ renewable_energy_share_percent        │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ country_id                            │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
└───────────────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [34]:
con.sql("INSERT INTO environmental_metrics (SELECT environmental_id, year_id, value_co2_emissions, renewables_percent, primary_energy_consumption_per_capita, renewable_energy_share_percent, country_id FROM df1)")

In [35]:
con.sql("SELECT * FROM environmental_metrics")

┌──────────────────┬─────────┬─────────────────────┬───┬──────────────────────┬──────────────────────┬────────────┐
│ environmental_id │ year_id │ value_co2_emissions │ … │ primary_energy_con…  │ renewable_energy_s…  │ country_id │
│      int32       │  int32  │        float        │   │        float         │        float         │   int32    │
├──────────────────┼─────────┼─────────────────────┼───┼──────────────────────┼──────────────────────┼────────────┤
│                0 │       0 │               760.0 │ … │            302.59482 │                44.99 │          0 │
│                1 │       1 │               730.0 │ … │            236.89185 │                 45.6 │          1 │
│                2 │       2 │              1030.0 │ … │            210.86215 │                37.83 │          2 │
│                3 │       3 │              1220.0 │ … │            229.96822 │                36.66 │          3 │
│                4 │       4 │              1030.0 │ … │            204.23125 │                44.24 │          4 │
│                5 │       5 │              1550.0 │ … │            252.06912 │                33.88 │          5 │
│                6 │       6 │              1760.0 │ … │             304.4209 │                31.89 │          6 │
│                7 │       7 │              1770.0 │ … │             354.2799 │                28.78 │          7 │
│                8 │       8 │              3560.0 │ … │             607.8335 │                21.17 │          8 │
│                9 │       9 │              4880.0 │ … │            975.04816 │                16.53 │          9 │
│                · │       · │                 ·   │ · │                ·     │                  ·   │          · │
│                · │       · │                 ·   │ · │                ·     │                  ·   │          · │
│                · │       · │                 ·   │ · │                ·     │                  ·   │          · │
│             3639 │    3639 │             11410.0 │ … │            3860.7898 │                79.27 │       3639 │
│             3640 │    3640 │             12010.0 │ … │            4106.9497 │                 77.5 │       3640 │
│             3641 │    3641 │             12280.0 │ … │             4085.332 │                78.87 │       3641 │
│             3642 │    3642 │             12080.0 │ … │            3940.8862 │                80.27 │       3642 │
│             3643 │    3643 │             12430.0 │ … │            3860.9202 │                80.82 │       3643 │
│             3644 │    3644 │             11020.0 │ … │            3227.6802 │                 81.9 │       3644 │
│             3645 │    3645 │             10340.0 │ … │            3068.0115 │                82.46 │       3645 │
│             3646 │    3646 │             12380.0 │ … │            3441.9858 │                80.23 │       3646 │
│             3647 │    3647 │             11760.0 │ … │            3003.6553 │                 81.5 │       3647 │
│             3648 │    3648 │             11040.0 │ … │            2680.1318 │                 81.9 │       3648 │
├──────────────────┴─────────┴─────────────────────┴───┴──────────────────────┴──────────────────────┴────────────┤
│ 3649 rows (20 shown)                                                                        7 columns (6 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [36]:
con.sql("CREATE TABLE countries (country_id INTEGER PRIMARY KEY, country_name TEXT , country_code TEXT, region TEXT, latitude FLOAT, longitude FLOAT, land_area_km2 FLOAT, population_density FLOAT)")
con.sql("INSERT INTO countries (SELECT country_id, country_name, country_code, region, latitude, longitude, land_area_km2, population_density FROM df1)")

In [37]:
con.sql("SHOW countries")

┌────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│    column_name     │ column_type │  null   │   key   │ default │  extra  │
│      varchar       │   varchar   │ varchar │ varchar │ varchar │ varchar │
├────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ country_id         │ INTEGER     │ NO      │ PRI     │ NULL    │ NULL    │
│ country_name       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ country_code       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ region             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ latitude           │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ longitude          │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ land_area_km2      │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ population_density │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
└────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [38]:
con.sql("SELECT * FROM countries")

┌────────────┬──────────────┬──────────────┬─────────┬────────────┬───────────┬───────────────┬────────────────────┐
│ country_id │ country_name │ country_code │ region  │  latitude  │ longitude │ land_area_km2 │ population_density │
│   int32    │   varchar    │   varchar    │ varchar │   float    │   float   │     float     │       float        │
├────────────┼──────────────┼──────────────┼─────────┼────────────┼───────────┼───────────────┼────────────────────┤
│          0 │ Afghanistan  │ AFG          │ Asia    │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│          1 │ Afghanistan  │ AFG          │ Asia    │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│          2 │ Afghanistan  │ AFG          │ Asia    │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│          3 │ Afghanistan  │ AFG          │ Asia    │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│          4 │ Afghanistan  │ AFG          │ Asia    │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│          5 │ Afghanistan  │ AFG          │ Asia    │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│          6 │ Afghanistan  │ AFG          │ Asia    │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│          7 │ Afghanistan  │ AFG          │ Asia    │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│          8 │ Afghanistan  │ AFG          │ Asia    │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│          9 │ Afghanistan  │ AFG          │ Asia    │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│          · │    ·         │  ·           │  ·      │       ·    │      ·    │          ·    │                 ·  │
│          · │    ·         │  ·           │  ·      │       ·    │      ·    │          ·    │                 ·  │
│          · │    ·         │  ·           │  ·      │       ·    │      ·    │          ·    │                 ·  │
│       3639 │ Zimbabwe     │ ZWE          │ Africa  │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│       3640 │ Zimbabwe     │ ZWE          │ Africa  │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│       3641 │ Zimbabwe     │ ZWE          │ Africa  │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│       3642 │ Zimbabwe     │ ZWE          │ Africa  │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│       3643 │ Zimbabwe     │ ZWE          │ Africa  │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│       3644 │ Zimbabwe     │ ZWE          │ Africa  │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│       3645 │ Zimbabwe     │ ZWE          │ Africa  │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│       3646 │ Zimbabwe     │ ZWE          │ Africa  │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│       3647 │ Zimbabwe     │ ZWE          │ Africa  │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│       3648 │ Zimbabwe     │ ZWE          │ Africa  │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
├────────────┴──────────────┴──────────────┴─────────┴────────────┴───────────┴───────────────┴────────────────────┤
│ 3649 rows (20 shown)                                                                                   8 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [39]:
con.sql('''
        SELECT * FROM years
        INNER JOIN environmental_metrics
        ON years.year_id = environmental_metrics.year_id
        INNER JOIN countries
        ON environmental_metrics.country_id = countries.country_id''')

┌─────────┬───────┬──────────────────┬─────────┬───┬────────────┬───────────┬───────────────┬────────────────────┐
│ year_id │ year  │ environmental_id │ year_id │ … │  latitude  │ longitude │ land_area_km2 │ population_density │
│  int32  │ int32 │      int32       │  int32  │   │   float    │   float   │     float     │       float        │
├─────────┼───────┼──────────────────┼─────────┼───┼────────────┼───────────┼───────────────┼────────────────────┤
│       0 │  2000 │                0 │       0 │ … │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│       1 │  2001 │                1 │       1 │ … │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│       2 │  2002 │                2 │       2 │ … │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│       3 │  2003 │                3 │       3 │ … │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│       4 │  2004 │                4 │       4 │ … │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│       5 │  2005 │                5 │       5 │ … │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│       6 │  2006 │                6 │       6 │ … │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│       7 │  2007 │                7 │       7 │ … │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│       8 │  2008 │                8 │       8 │ … │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│       9 │  2009 │                9 │       9 │ … │   33.93911 │  67.70995 │      652230.0 │               60.0 │
│       · │    ·  │                · │       · │ · │       ·    │      ·    │          ·    │                 ·  │
│       · │    ·  │                · │       · │ · │       ·    │      ·    │          ·    │                 ·  │
│       · │    ·  │                · │       · │ · │       ·    │      ·    │          ·    │                 ·  │
│    3639 │  2011 │             3639 │    3639 │ … │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│    3640 │  2012 │             3640 │    3640 │ … │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│    3641 │  2013 │             3641 │    3641 │ … │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│    3642 │  2014 │             3642 │    3642 │ … │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│    3643 │  2015 │             3643 │    3643 │ … │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│    3644 │  2016 │             3644 │    3644 │ … │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│    3645 │  2017 │             3645 │    3645 │ … │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│    3646 │  2018 │             3646 │    3646 │ … │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│    3647 │  2019 │             3647 │    3647 │ … │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
│    3648 │  2020 │             3648 │    3648 │ … │ -19.015438 │ 29.154858 │      390757.0 │               38.0 │
├─────────┴───────┴──────────────────┴─────────┴───┴────────────┴───────────┴───────────────┴────────────────────┤
│ 3649 rows (20 shown)                                                                      17 columns (8 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [40]:
con.sql("CREATE TABLE energy_metrics (energy_id INTEGER PRIMARY KEY, year_id INTEGER REFERENCES years(year_id), country_id INTEGER REFERENCES countries(country_id))");

In [41]:
con.sql("ALTER TABLE energy_metrics ADD COLUMN access_to_electricity_by_population FLOAT");
con.sql("ALTER TABLE energy_metrics ADD COLUMN access_to_clean_fuels FLOAT");
con.sql("ALTER TABLE energy_metrics ADD COLUMN electricity_from_fossil_fuels FLOAT");
con.sql("ALTER TABLE energy_metrics ADD COLUMN electricity_from_nuclear FLOAT");
con.sql("ALTER TABLE energy_metrics ADD COLUMN electricity_from_renewables FLOAT");
con.sql("ALTER TABLE energy_metrics ADD COLUMN electricity_from_low_carbon FLOAT");
con.sql("ALTER TABLE energy_metrics ADD COLUMN renewable_electricity_generating_capacity_per_capita FLOAT");

In [42]:
con.sql("SHOW energy_metrics")

┌──────────────────────────────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│                     column_name                      │ column_type │  null   │   key   │ default │  extra  │
│                       varchar                        │   varchar   │ varchar │ varchar │ varchar │ varchar │
├──────────────────────────────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ energy_id                                            │ INTEGER     │ NO      │ PRI     │ NULL    │ NULL    │
│ year_id                                              │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ country_id                                           │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ access_to_electricity_by_population                  │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ access_to_clean_fuels                                │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ electricity_from_fossil_fuels                        │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ electricity_from_nuclear                             │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ electricity_from_renewables                          │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ electricity_from_low_carbon                          │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ renewable_electricity_generating_capacity_per_capita │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
├──────────────────────────────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 10 rows                                                                                          6 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [43]:
con.sql("INSERT INTO energy_metrics (SELECT energy_id, year_id, country_id, access_to_electricity_by_population, access_to_clean_fuels, electricity_from_fossil_fuels, electricity_from_nuclear, electricity_from_renewables, electricity_from_low_carbon, renewable_electricity_generating_capacity_per_capita FROM df1)")

In [44]:
con.sql("SELECT * FROM energy_metrics")

┌───────────┬─────────┬────────────┬───┬──────────────────────┬──────────────────────┬──────────────────────┐
│ energy_id │ year_id │ country_id │ … │ electricity_from_r…  │ electricity_from_l…  │ renewable_electric…  │
│   int32   │  int32  │   int32    │   │        float         │        float         │        float         │
├───────────┼─────────┼────────────┼───┼──────────────────────┼──────────────────────┼──────────────────────┤
│         0 │       0 │          0 │ … │                 0.31 │             65.95744 │                 9.22 │
│         1 │       1 │          1 │ … │                  0.5 │            84.745766 │                 8.86 │
│         2 │       2 │          2 │ … │                 0.56 │            81.159424 │                 8.47 │
│         3 │       3 │          3 │ … │                 0.63 │             67.02128 │                 8.09 │
│         4 │       4 │          4 │ … │                 0.56 │             62.92135 │                 7.75 │
│         5 │       5 │          5 │ … │                 0.59 │            63.440857 │                 7.51 │
│         6 │       6 │          6 │ … │                 0.64 │            76.190475 │                  7.4 │
│         7 │       7 │          7 │ … │                 0.75 │             78.94737 │                 7.25 │
│         8 │       8 │          8 │ … │                 0.54 │              73.9726 │                 7.49 │
│         9 │       9 │          9 │ … │                 0.78 │             82.97872 │                  7.5 │
│         · │       · │          · │ · │                   ·  │                 ·    │                   ·  │
│         · │       · │          · │ · │                   ·  │                 ·    │                   ·  │
│         · │       · │          · │ · │                   ·  │                 ·    │                   ·  │
│      3639 │    3639 │       3639 │ … │                 5.51 │            61.633114 │                 66.2 │
│      3640 │    3640 │       3640 │ … │                 5.68 │             63.60582 │                65.14 │
│      3641 │    3641 │       3641 │ … │                 5.36 │             57.88337 │                64.44 │
│      3642 │    3642 │       3642 │ … │                 5.79 │             59.62925 │                63.38 │
│      3643 │    3643 │       3643 │ … │                 5.37 │            57.188496 │                63.54 │
│      3644 │    3644 │       3644 │ … │                 3.32 │             48.68035 │                62.88 │
│      3645 │    3645 │       3645 │ … │                  4.3 │            58.503407 │                62.33 │
│      3646 │    3646 │       3646 │ … │                 5.46 │            59.412407 │                82.53 │
│      3647 │    3647 │       3647 │ … │                 4.58 │            55.582527 │                 81.4 │
│      3648 │    3648 │       3648 │ … │                 4.19 │            55.204216 │                80.61 │
├───────────┴─────────┴────────────┴───┴──────────────────────┴──────────────────────┴──────────────────────┤
│ 3649 rows (20 shown)                                                                 10 columns (6 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [45]:
con.sql("CREATE TABLE economic_metrics (economic_id INTEGER PRIMARY KEY, year_id INTEGER REFERENCES years(year_id), country_id INTEGER REFERENCES countries(country_id))");

In [46]:
con.sql("ALTER TABLE economic_metrics ADD COLUMN financial_flows_to_developing_countries_usd FLOAT");
con.sql("ALTER TABLE economic_metrics ADD COLUMN gdp_growth FLOAT");
con.sql("ALTER TABLE economic_metrics ADD COLUMN gdp_per_capita FLOAT");
con.sql("ALTER TABLE economic_metrics ADD COLUMN energy_intensity_level FLOAT");

In [47]:
con.sql("INSERT INTO economic_metrics (SELECT economic_id, year_id, country_id, financial_flows_to_developing_countries_usd, gdp_growth, gdp_per_capita, energy_intensity_level FROM df1)");

In [48]:
con.sql("SELECT * FROM economic_metrics")

┌─────────────┬─────────┬────────────┬──────────────────────────┬────────────┬────────────────┬────────────────────────┐
│ economic_id │ year_id │ country_id │ financial_flows_to_dev…  │ gdp_growth │ gdp_per_capita │ energy_intensity_level │
│    int32    │  int32  │   int32    │          float           │   float    │     float      │         float          │
├─────────────┼─────────┼────────────┼──────────────────────────┼────────────┼────────────────┼────────────────────────┤
│           0 │       0 │          0 │                  20000.0 │   6.163893 │      439.05576 │                   1.64 │
│           1 │       1 │          1 │                 130000.0 │   6.163893 │      439.05576 │                   1.74 │
│           2 │       2 │          2 │                3950000.0 │   6.163893 │      179.42657 │                    1.4 │
│           3 │       3 │          3 │               25970000.0 │   8.832278 │       190.6838 │                    1.4 │
│           4 │       4 │          4 │               32969474.0 │  1.4141179 │      211.38208 │                    1.2 │
│           5 │       5 │          5 │                9830000.0 │  11.229714 │      242.03131 │                   1.41 │
│           6 │       6 │          6 │               10620000.0 │  5.3574033 │       263.7336 │                    1.5 │
│           7 │       7 │          7 │               15750000.0 │   13.82632 │      359.69315 │                   1.53 │
│           8 │       8 │          8 │               16170000.0 │  3.9249837 │      364.66354 │                   1.94 │
│           9 │       9 │          9 │                9960000.0 │  21.390528 │      437.26874 │                   2.25 │
│           · │       · │          · │                    ·     │      ·     │          ·     │                     ·  │
│           · │       · │          · │                    ·     │      ·     │          ·     │                     ·  │
│           · │       · │          · │                    ·     │      ·     │          ·     │                     ·  │
│        3639 │    3639 │       3639 │                1080000.0 │ 14.1939125 │      1093.6534 │                  11.77 │
│        3640 │    3640 │       3640 │               26511538.0 │  16.665428 │       1304.968 │                  10.42 │
│        3641 │    3641 │       3641 │              319000000.0 │  1.9894928 │      1429.9984 │                  10.48 │
│        3642 │    3642 │       3642 │               17830000.0 │  2.3769293 │      1434.8962 │                   10.4 │
│        3643 │    3643 │       3643 │               26511538.0 │  1.7798727 │      1445.0697 │                  10.36 │
│        3644 │    3644 │       3644 │                  30000.0 │ 0.75586927 │       1464.589 │                   10.0 │
│        3645 │    3645 │       3645 │                5570000.0 │   4.709492 │      1235.1891 │                   9.51 │
│        3646 │    3646 │       3646 │                  10000.0 │  4.8242106 │      1254.6422 │                   9.83 │
│        3647 │    3647 │       3647 │                 250000.0 │  -6.144236 │      1316.7406 │                  10.47 │
│        3648 │    3648 │       3648 │                  30000.0 │ -6.2487483 │      1214.5098 │                   10.0 │
├─────────────┴─────────┴────────────┴──────────────────────────┴────────────┴────────────────┴────────────────────────┤
│ 3649 rows (20 shown)                                                                                       7 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘